@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --white: #fff;
    --meso-green: #29603E;
    --off-green: #94B09F;
    --light-gray: #f9f9f9;
    --dark-text: #333;
    --dark-green: #1D4633;
    --black-footer: #000;
    --new-title: #595959;

    /* Font sizes */
    --regular-font-size: 14px;

    /* Font weight */
    --regular-font-size: 700;
}

html {
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: var(--white);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

a:hover {
    text-decoration: none;
}

.header {
    position: sticky;
    top: 0px;
    width: 100%;
    background: var(--white);
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 1px 0 rgb(0 0 0 / 10%);
}

.form-search {
    transition-duration: 200ms;
    transition-timing-function: ease;
    position: absolute;
    bottom: 100%;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    background-color: var(--white);
}

.form-search--active {
    transform: translateY(100%);
    transition-duration: 200ms;
    transition-timing-function: ease;
    visibility: unset;
    z-index: 1;
}

.form-search-container {
    max-width: 920px;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.form-search__input {
    -webkit-appearance: none;
    flex: auto;
    border: none;
    color: var(--meso-green);
    font-size: var(--regular-font-size);
    font-weight: var(--bold-font-weight);
}

.form-search__input:focus-visible,
.form-search__input:focus,
.form-search__input:active {
    border: none;
    outline: none;
}

.form-search__button-close {
    -webkit-appearance: none;
    width: 32px;
    height: 32px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.form-search__button-close::after {
    display: block;
    font-family: 'ETmodules';
    content: '\4d';
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: var(--meso-green);
    font-size: 32px;
    cursor: pointer;
}

.nav {
    display: flex;
    align-items: center;
}

hr {
    background-color: #E5E5E5;
}

.navbar-items-container {
    font-weight:580;
    display: flex;
    list-style: none;
    margin-bottom: 0px;
}

.nav-item {
    padding: 36px 1.2em;
    position: relative;
}

.custom-dropdown-menu {
    transition: all .2s ease-in-out;
    position: absolute;
    padding: 20px 0px;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    width: 240px;
    background-color: var(--white);
    top: 100%;
    left: 0px;
    padding: 10px 16px;
    list-style: none;
    border-top: var(--meso-green) solid 3px;
    box-shadow: 0px 2px 5px rgba(0,0,0,.1);
}

.nav-item:hover .custom-dropdown-menu {
    opacity: 1;
    z-index: 0;
    visibility:visible;
}

.nav-item__search-button {
    height: 100%;
    width: 20px;
    background-color: transparent;
    position: relative;
    color: transparent;
    border: none;
    cursor: pointer;
}

.nav-item__search-button::before {
    position: absolute;
    top: -3px;
    left: 0;
    font-family: ETmodules;
    font-style: normal;
    font-weight: 400;
    font-feature-settings: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    text-shadow: 0 0;
    direction: ltr;
    content: "\55";
    font-size: 17px;
    color: #01633b;
}

.navbar__link {
    transition-duration: 200ms;
    animation-timing-function: ease;
    font-size: var(--regular-font-size);
    font-weight: var(--bold-font-weight);
    text-decoration: none;
    border-radius: 10px 10px 0 0;
    color: var(--meso-green);
    position: relative;
    z-index: 1;
}

.navbar__link--dropdown {
    padding-right: 20px;
}

.navbar__link--dropdown::after {
    font-family: 'ETmodules';
    content: "3";
    font-size: 16px;
    position: absolute;
    right: 0;
    top: -2px;
    font-weight: 800;
}

.nav ul li a:hover::before {
    transform: scaleY(1.1);
}

.navbar__link:hover {
    color: var(--off-green);
}

.navbar__link-dropdown {
    transition-duration: 200ms;
    transition-timing-function: ease;
    display: block;
    padding: 6px 20px;
    width: 100%;
    font-size: 1rem; /* 1rem = 16px */
    line-height: 2em;
    color: var(--meso-green);
    text-decoration: none;
}

.navbar__link-dropdown:hover {
    background-color: var(--light-gray);
    color: var(--meso-green);
}

.hero {
    margin: 0 auto;
    max-width: 1040px;
    width: 90%;
    padding-top: 110px;
}

.hero-container--home {
    min-height: 900px;
    width: 100%;
    background-image: url('../ASSETS/Images/portada-meso-1.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.hero__left-item {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-home__image-container {
    margin-bottom: 40;
    width: 122px;
    height: 122px;
    overflow: hidden;
}

.left-home__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.hero__left-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.hero__left-text {
    font-size: var(--regular-font-size);
    font-weight: 200;
    text-align: center;
}

.hero__left-subtitle {
    text-transform: capitalize;
    font-size: 26px;
    color: var(--dark-text);
    margin-bottom: 20px;
}

.hero__left-link {
    text-transform: capitalize;
}

.hero__left-link {
    transition-duration: 200ms;
    transition-timing-function: ease;
    padding: 16px 24px;
    background-color: var(--meso-green);
    font-size: 24px;
    line-height: 24px;
    color: var(--white);
    border-radius: 8px;
}

.hero__left-link:hover {
    text-decoration: none;
    color: var(--white);
    transform: scale(110%);
}

.btn {
    position: relative;
    width: 25px;
    height: 25px;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    display: none;
}

.btn::before {
    content: "\f0c9";
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Font Awesome 5 Free';
    font-weight: 700;
    font-size: 2em;
}

.copyright-umes {
    position: relative;
    font-weight: 400;
}

.para-text-umes{
    text-align: center;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 14px;;
}

.span-umes {
    color: var(--meso-green);
}

.footer-link {
    font-family: Tahoma,Sans,Arial,Helvetica,Verdana,sans-serif;
    font-size: 11px;
    text-align: center;
}

.footer-link2 {
    padding-top: 20px;
    font-family: Tahoma,Sans,Arial,Helvetica,Verdana,sans-serif;
    font-size: 11px;
    text-align: center;
}

.word-footer{
    color: var(--black-footer);
    text-decoration: none;
}

.title-calendars {
    color: var(--dark-text);
    padding-top: 55px;
    text-align: center;
}

.first-column-calendar {
    display: flex;
    padding: auto;
    justify-content: center;
}

.last-column-calendar {
    display: flex;
    padding: auto;
    justify-content: center;
}

#first-image-calendar {
    height: 650px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-right: 50px;
}

#second-image-calendar {
    height: 650px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#last-image-calendar {
    height: 650px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    padding-bottom: 50px;
}

.place-umes {
    background-color: var(--dark-green);
    color: var(--white);
    width: 100%;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 40px;
}

.place-umes2 {
    background-color: var(--dark-green);
    color: var(--white);
    width: 2000px;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 40px;
}

.first-place-umes {
    float: left;
    width: 29.6667%;
    margin-left: 60px;
}

.second-place-umes {
    display: inline-block; 
    width: 29.6667%;
    margin-left: 40px;
}

.thirth-place-umes {
    float: right;
    width: 29.6667%;
    margin-right: 40px;
}

.text-place-umes {
    font-size: smaller;
    font-weight:300;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
}

.title-place-umes {
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
}

.form-info{
    margin: auto;
    margin-top: 50px;
    width: 1200px;
    height: 350px;
    background: #fff;
}

.text1{
    font-size: smaller;
    font-weight: normal;
    width: 450px;
    height: 40px;
    margin-left: 100px;
    background: #eeee;
    border-width: 0;
    border-radius: 0;
}

.text2{
    font-size: smaller;
    font-weight: normal;
    width: 450px;
    height: 40px;
    background: #eeee;
    border-width: 0;
    border-radius: 0;
}

.text3{
    font-size: smaller;
    font-weight: normal;
    width: 950px;
    height: 150px;
    background: #eeee;
    border-width: 0;
    border-radius: 0;
}

.first-info{
    background-color: var(--white);
    width: 1200px;
    height: 40px;
}

.second-info{
    float: right;
    background-color: var(--white);
    width: 600px;
    height: 60px;
}

.thirth-info{
 background-color: var(--white);
 width: 600px;
 height: 60px;
}

.fourth-info{
 background-color: var(--white);
 width: 950px;
 height: 170px;
 margin-left: 100px;
}

.fifth-info{
    padding-top: -2px;
    background-color: var(--white);
    float: right;
    width: 100px;
    height: 60px;
    margin-right:130px;
}

.text-soli{
    margin-top: 5px;
    margin-left: 100px;
    font-size: 25px;
    font-weight:lighter;
}

.send-button{
    background-color: var(--meso-green);
    width: 80px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid var(--meso-green);
    color: var(--white);
    font-size: 15px;
}

.map {
    padding-top: 40px;
    display: flex;
    justify-content: center;
}

.form-contac{
    margin: auto;
    margin-top: 50px;
    width: 1200px;
    height: 350px;
    background: var(--white);
}

.submit-button {
    text-transform: capitalize;
}

.submit-button {
    margin-right: 10px;
    transition-duration: 200ms;
    transition-timing-function: ease;
    padding: 10px 20px;
    background-color: black;
    font-size: 20px;
    line-height: 20px;
    color: var(--white);
    border: black;
}

.submit-button:hover {
    text-decoration: none;
    color: var(--white);
    transform: scale(110%);
}

.title-notice {
    color: var(--dark-text);
    font-weight: bold;
    padding-top: 40px;
    text-align: center;
    padding-bottom: 10px;
}

.item1-news {
    margin-bottom: 8px;
    border: 1px solid #d8d8d8;
    padding: 19px;
    background-color: var(--white);
    box-sizing: border-box;
}

.title1-news {
    text-align: left;
    font-size: large;
    color:var(--new-title);
    text-decoration: none;
    padding-bottom: 10px;
    line-height: 1em;
    font-weight: 400;
}

.post1-news {
    color: gray;
    font-size:smaller;
    margin-bottom: 6px;
    text-align: left;
}

.rowsnews {
    margin-right: auto;
    padding: auto;
    margin-bottom: 30px;
}

.imagesnews{
    z-index: -15;
  }

.gallery-container {
    margin-top:60px;
    background: url(https://www.mesoamericana.edu.gt/wp-content/uploads/2021/05/tour-1.png);
    width: 100%;
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.paralax-items {
    color: var(--white);
    text-align: center;
}

.title-parallax {
    padding-top: 100px;
}

.text-parallax {
    color: var(--white);
    text-align: center;
    padding-top: 30px;
    font-weight: lighter;
    font-size: 25px;
    transition: font-size 300ms ease 0ms;
}

.middle-carru{
    background: #fff;
    width: 1300px;
    height: 450px;
}

.middle-conten-carru{
    margin-top: 35px;
    float: right;
    width: 400px;
    height: 325px;
    margin-right: 175px;
}

.middle-conten2-carru{
    margin-top: 75px;
    float: right;
    width: 400px;
    height: 325px;
    margin-right:20px ;
}

.title-middle-carru{
    color: rgb(0, 0, 0);
    margin-top: 60px;
}

.text-middle-carru{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    margin-top: 50px;
}

.button-middle-carru {
    text-transform: capitalize;
}

.button-middle-carru {
    transition-duration: 200ms;
    transition-timing-function: ease;
    padding: 16px 24px;
    background-color: var(--meso-green);
    font-size: 24px;
    line-height: 24px;
    color: var(--white);
    border-radius: 8px;
}

.button-middle-carru:hover {
    text-decoration: none;
    color: var(--white);
    transform: scale(110%);
}

.bold-number {
    font-weight: bold;
}

.title-who {
    text-align: center;
    font-size: 12px;
    color:var(--dark-text);
    padding-bottom: 10px;
    line-height: 1em;
    font-weight: 500;
    padding-bottom: 30px;
}

.first-column-reglas {
    display: flex;
    padding: auto;
    justify-content: center;
}

#first-image-reglas {
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-right: 50px;
}

#second-image-reglas {
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#last-image-reglas {
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    padding-bottom: 50px;
}

.back-explora {
    background-color: var(--meso-green);
    margin-bottom: 10px;
}

.title-explora {
    margin-top: 20px;
    text-align: center;
    color: var(--white);
}

.text-explora {
    margin-top: -5px;
}

.para-explora {
    color: var(--white);
    text-align: center;
    margin-top: 40px;
    font-size: small;
    font-weight: bolder;
}

.who-image {
    width: 95%;
}

.back-news {
    background-color: var(--white);
}

.title-news-carru {
    justify-content: left;
    padding-left: 70px;
}

.title-carru-new {
    padding-top: 50px;
    text-align:left;
    padding-left: 200px;
}

.text-news-carru {
    justify-content: center;
    padding-left: 70px;
}

.para-news-carru {
    color: var(--new-title);
    padding-top: 10px;
    text-align:left;
    padding-left: 70px;
}

.news-button {
    width: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.news-button {
    margin-right: 10px;
    transition-duration: 200ms;
    transition-timing-function: ease;
    padding: 10px 20px;
    background-color: var(--meso-green);
    font-size: 20px;
    border-radius: 7px;
    line-height: 20px;
    color: var(--white);
    border: black;
    margin-left: 289px;
}

.news-button:hover {
    text-decoration: none;
    color: var(--white);
    transform: scale(110%);
}

.last-carrusel{
    background-color: var(--meso-green);
    width: 100%;
    height: 450px;
}
.content-text{
    margin-top: 35px;
    float: right;
    width: 400px;
    height: 325px;
    margin-right: 175px;
}

.title-carru{
    color: #fff;
    margin-top: 60px;
    text-align: center;
    font-size: 300;
}

.text-carru{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    margin-top: 50px;
}

.carrusel-conten{
    margin-top: 75px;
    float: right;
    width: 400px;
    height: 325px;
    margin-right:175px ;
}

.text2-carru{
    margin-top: 40px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

.button-last {
    text-transform: capitalize;
}

.c7button-lastb1 {
    transition-duration: 200ms;
    transition-timing-function: ease;
    padding: 16px 24px;
    background-color: var(--white);
    font-size: 24px;
    line-height: 24px;
    color: var(--dark-green);
    border-radius: 8px;
    margin-left: 30%;
}

.button-last:hover {
    text-decoration: none;
    color: var(--meso-green);
    transform: scale(110%);
}

.networks-div{
    margin-left: 230px;
    width: 800px;
    height: 400px;
    margin-bottom: 4.4%;
}
.girl-api{
    width: 300px;
    height: 300px;
    float: right;
    margin-top: 40px;
}
.text-networks{
    width: 100%;
    height: 300px;
    margin-left: 100px;
}
.c8div3{
    width: 300px;
    height: 8px;
    margin-left: 100px;
}
.title-network{
    text-align: center;
}
.para-network{
    text-align: center;
    margin-top: 40px;
}
.last-net{
    margin-top: 35px;
    text-align: center;
}

.margenesimg{
    margin-top: 10px;
    margin-left: 60px;
}

.social {
    text-transform: capitalize;
    width: 100%;
}

.social {
    transition-duration: 200ms;
    transition-timing-function: ease;
    padding: 16px 24px;
    font-size: 24px;
    line-height: 24px;
    color: var(--dark-green);
    border-radius: 8px;
    margin-left: 15%;
}

@media screen and (max-width: 1200px) {
    .btn {
        display: flex;
        z-index: 100;
    }
    header {
        justify-content: space-between;
        padding: 0 2em;
    }
    .nav {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        background: var(--white);
        transform: translateY(-110%);
        transform: all .4s;
    }

    input:checked ~ .nav {
        transform: translateY(0%);
    }
    input:checked::before {
        content: '\f00d';
    }
}

@media screen and (max-width: 991px){
    .hero__left-item {
        width: 100%
    }

    .header--desktop {
        display: none;
    }

    .hero-container--home {
        width: 100%;
        background-image: none;
    }
}

@media screen and (max-width: 767px) {
    
}

@media screen and (max-width: 469px) {
    
}