<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="//db.onlinewebfonts.com/c/9d25ea5c587d0f9d470aa9a3634735ea?family=ETmodules" rel="stylesheet" type="text/css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/CSS/Style.css">
    <title>Contáctos</title>
    <script src="../../JS/Index.js" defer></script>
</head>
<body>
    <header class="header header--desktop">
        <nav class="nav">
            <ul class="navbar-items-container">
                <li class="nav-item">
                    <a href="./Index.html" class="navbar__link" target="_self">Inicio</a></li>
                <li class="nav-item">
                    <a href="Noticias.html" class="navbar__link" target="_self">Noticias</a></li>
                <li class="nav-item">
                    <a href="" class="navbar__link navbar__link--dropdown" target="_self">Organización</a>
                    <ul class="custom-dropdown-menu">
                        <li><a href="" class="navbar__link-dropdown" target="_self">Historia</a></li>
                        <li><a href="" class="navbar__link-dropdown" target="_self">Ideario</a></li>
                        <li><a href="" class="navbar__link-dropdown" target="_self">Visión y Misión</a></li>
                        <li><a href="" class="navbar__link-dropdown" target="_self">Estatutos y Reglamentos</a></li>
                        <li><a href="" class="navbar__link-dropdown" target="_self">Autoridades</a></li>
                        <li><a href="" class="navbar__link-dropdown" target="_self">Alianza Microsoft</a></li>
                        <li><a href="" class="navbar__link-dropdown" target="_self">Descargas</a></li>
                        <li><a href="" class="navbar__link-dropdown" target="_self">Pastoral</a></li>
                        <li><a href="" class="navbar__link-dropdown" target="_self">Himno de la Universidad</a></li>
                        <li><a href="" class="navbar__link-dropdown" target="_self">Tour Virtual</a></li>
                        <li><a href="" class="navbar__link-dropdown" target="_self">Becas</a></li>
                        <li><a href="" class="navbar__link-dropdown" target="_self">Galería Meso</a></li>
                        <li><a href="" class="navbar__link-dropdown" target="_self">Bolsa de Empleo</a></li>
                        <li><a href="" class="navbar__link-dropdown" target="_self">Sede Central</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="" class="navbar__link navbar__link--dropdown" target="_self">Académico</a>
                    <ul class="custom-dropdown-menu">
                        <li><a href="" class="navbar__link-dropdown" target="_self">Carreras</a></li>
                        <li><a href="" class="navbar__link-dropdown" target="_self">Requisitos de Admisión</a></li>
                        <li><a href="https://secretaria.mesoamericana.edu.gt/horarios/" class="navbar__link-dropdown" target="_self">Horarios de clases</a></li>
                        <li><a href="Calendario.html" class="navbar__link-dropdown" target="_self">Calendario Acádemico 2022</a></li>
                        <li><a href="" class="navbar__link-dropdown" target="_self">Pasos de Inscripción</a></li>
                        <li><a href="" class="navbar__link-dropdown" target="_self">Registro Acádemico</a></li>
                        <li><a href="" class="navbar__link-dropdown" target="_self">Revista Explora</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="" class="navbar__link navbar__link--dropdown" target="_self">Admisiones</a>
                    <ul class="custom-dropdown-menu">
                        <li><a href="" class="navbar__link-dropdown" target="_self">Éxamenes de Admisión</a></li>
                        <li><a href="" class="navbar__link-dropdown" target="_self">Entrevista, Facultad de Ingeniería</a></li>
                        <li><a href="" class="navbar__link-dropdown" target="_self">Entrevista, Facultad de Arquitectura</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="" class="navbar__link navbar__link--dropdown" target="_self">Estudiantes</a>
                    <ul class="custom-dropdown-menu">
                        <li><a href="https://virtual.mesoamericana.edu.gt/" class="navbar__link-dropdown" target="_blank">Aula Virtual</a></li>
                        <li><a href="https://secretaria.mesoamericana.edu.gt/alumnos/Account/Login.aspx?ReturnUrl=%2falumnos%2f" class="navbar__link-dropdown" target="_blank">Sitio de Estudiantes</a></li>
                        <li><a href="https://accounts.google.com/ServiceLogin/webreauth?continue=https%3A%2F%2Fmail.google.com%2Fa%2Fmesoamericana.edu.gt%2F&ltmpl=default&hd=mesoamericana.edu.gt&service=mail&sacu=1&passive=1209600&authuser=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin" class="navbar__link-dropdown" target="_blank">Correo Institucional</a></li>
                        <li><a href="https://virtual.mesoamericana.edu.gt/course/view.php?id=5694" class="navbar__link-dropdown" target="_self">Técnicas de Estudio</a></li>
                        <li><a href="" class="navbar__link-dropdown" target="_self">Revista Explora</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="" class="navbar__link navbar__link--dropdown" target="_self">Docentes</a>
                    <ul class="custom-dropdown-menu">
                        <li><a href="https://virtual.mesoamericana.edu.gt/" class="navbar__link-dropdown" target="_blank">Aula Virtual</a></li>
                        <li><a href="https://secretaria.mesoamericana.edu.gt/catedraticos/Account/Login.aspx?ReturnUrl=%2fcatedraticos%2f" class="navbar__link-dropdown" target="_blank">Sitio de Docentes</a></li>
                        <li><a href="https://accounts.google.com/ServiceLogin/webreauth?continue=https%3A%2F%2Fmail.google.com%2Fa%2Fmesoamericana.edu.gt%2F&ltmpl=default&hd=mesoamericana.edu.gt&service=mail&sacu=1&passive=1209600&authuser=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin" class="navbar__link-dropdown" target="_blank">Correo Institucional</a></li>
                        <li><a href="https://virtual.mesoamericana.edu.gt/course/view.php?id=5694" class="navbar__link-dropdown" target="_self">Técnicas de Estudio</a></li>
                        <li><a href="" class="navbar__link-dropdown" target="_self">Revista Explora</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="Contactos.html" class="navbar__link" target="_self">Contáctanos</a>
                </li>
                <li class="nav-item">
                    <button id="nav-item__search-button" class="nav-item__search-button"></button>
                </li>
            </ul>
        </nav>
        <form class="form-search" id="form-search" >
            <div class="form-search-container">
                <input class="form-search__input" placeholder="Search" type="text">
                <button id="form-search__button-close" class="form-search__button-close" type="button"></button>
            </div>
        </form>
    </header>
    <main>
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3856.6883275913297!2d-91.52029788529423!3d14.842740275076341!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x858ea2ab00334b2f%3A0xb70aba74577dd282!2sUniversidad+Mesoamericana!5e0!3m2!1ses-419!2sgt!4v1535293351059" width="1080" height="250" frameborder="0" style="border:0"></iframe>
        </div>
        <div class="form-contac">
            <div class="first-info">
                <p class="text-soli">Contáctanos</p>
            </div>
            <div class="second-info">
                <input type="text" class="text2" placeholder="      Dirección de correo electrónico">
            </div>
                <div class="thirth-info">
                    <input type="text" class="text1" placeholder="      Nombre">
                </div>
                <div class="fourth-info">
                    <textarea class="text3" name="" id="" cols="30" rows="10" placeholder="     Mensaje"></textarea>
                </div>
                <div class="fifth-info">
                    <button class="submit-button">Submit</button>
                </div>
        </div>
    </main>
    <footer>
        <div class="footer-link" style="color:#666 ;">
            <a class="word-footer" href="https://www.turnkeylinux.org/wordpress">WordPress Appliance</a>
            - Powered by
            <a class="word-footer" href="https://www.turnkeylinux.org">TurnKey Linux</a>
        </div>
    </footer>
</body>
</html>