<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="//db.onlinewebfonts.com/c/9d25ea5c587d0f9d470aa9a3634735ea?family=ETmodules" rel="stylesheet" type="text/css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/CSS/Style.css">
    <link rel="stylesheet" href="/CSS/normalize.css">
    <title>Universidad Mesoamericana</title>
    <script src="../../JS/Index.js" defer></script>
</head>
<body>
    <header class="header header--desktop">
        <nav class="nav">
            <ul class="navbar-items-container">
                <li class="nav-item">
                    <a href="./Index.html" class="navbar__link" target="_self">Inicio</a></li>
                <li class="nav-item">
                    <a href="Noticias.html" class="navbar__link" target="_self">Noticias</a></li>
                <li class="nav-item">
                    <a href="" class="navbar__link navbar__link--dropdown" target="_self">Organización</a>
                    <ul class="custom-dropdown-menu">
                        <li><a href="" class="navbar__link-dropdown" target="_self">Historia</a></li>
                        <li><a href="" class="navbar__link-dropdown" target="_self">Ideario</a></li>
                        <li><a href="" class="navbar__link-dropdown" target="_self">Visión y Misión</a></li>
                        <li><a href="" class="navbar__link-dropdown" target="_self">Estatutos y Reglamentos</a></li>
                        <li><a href="" class="navbar__link-dropdown" target="_self">Autoridades</a></li>
                        <li><a href="" class="navbar__link-dropdown" target="_self">Alianza Microsoft</a></li>
                        <li><a href="" class="navbar__link-dropdown" target="_self">Descargas</a></li>
                        <li><a href="" class="navbar__link-dropdown" target="_self">Pastoral</a></li>
                        <li><a href="" class="navbar__link-dropdown" target="_self">Himno de la Universidad</a></li>
                        <li><a href="" class="navbar__link-dropdown" target="_self">Tour Virtual</a></li>
                        <li><a href="" class="navbar__link-dropdown" target="_self">Becas</a></li>
                        <li><a href="" class="navbar__link-dropdown" target="_self">Galería Meso</a></li>
                        <li><a href="" class="navbar__link-dropdown" target="_self">Bolsa de Empleo</a></li>
                        <li><a href="" class="navbar__link-dropdown" target="_self">Sede Central</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="" class="navbar__link navbar__link--dropdown" target="_self">Académico</a>
                    <ul class="custom-dropdown-menu">
                        <li><a href="" class="navbar__link-dropdown" target="_self">Carreras</a></li>
                        <li><a href="" class="navbar__link-dropdown" target="_self">Requisitos de Admisión</a></li>
                        <li><a href="https://secretaria.mesoamericana.edu.gt/horarios/" class="navbar__link-dropdown" target="_self">Horarios de clases</a></li>
                        <li><a href="Calendario.html" class="navbar__link-dropdown" target="_self">Calendario Acádemico 2022</a></li>
                        <li><a href="" class="navbar__link-dropdown" target="_self">Pasos de Inscripción</a></li>
                        <li><a href="" class="navbar__link-dropdown" target="_self">Registro Acádemico</a></li>
                        <li><a href="" class="navbar__link-dropdown" target="_self">Revista Explora</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="" class="navbar__link navbar__link--dropdown" target="_self">Admisiones</a>
                    <ul class="custom-dropdown-menu">
                        <li><a href="" class="navbar__link-dropdown" target="_self">Éxamenes de Admisión</a></li>
                        <li><a href="" class="navbar__link-dropdown" target="_self">Entrevista, Facultad de Ingeniería</a></li>
                        <li><a href="" class="navbar__link-dropdown" target="_self">Entrevista, Facultad de Arquitectura</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="" class="navbar__link navbar__link--dropdown" target="_self">Estudiantes</a>
                    <ul class="custom-dropdown-menu">
                        <li><a href="https://virtual.mesoamericana.edu.gt/" class="navbar__link-dropdown" target="_blank">Aula Virtual</a></li>
                        <li><a href="https://secretaria.mesoamericana.edu.gt/alumnos/Account/Login.aspx?ReturnUrl=%2falumnos%2f" class="navbar__link-dropdown" target="_blank">Sitio de Estudiantes</a></li>
                        <li><a href="https://accounts.google.com/ServiceLogin/webreauth?continue=https%3A%2F%2Fmail.google.com%2Fa%2Fmesoamericana.edu.gt%2F&ltmpl=default&hd=mesoamericana.edu.gt&service=mail&sacu=1&passive=1209600&authuser=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin" class="navbar__link-dropdown" target="_blank">Correo Institucional</a></li>
                        <li><a href="https://virtual.mesoamericana.edu.gt/course/view.php?id=5694" class="navbar__link-dropdown" target="_self">Técnicas de Estudio</a></li>
                        <li><a href="" class="navbar__link-dropdown" target="_self">Revista Explora</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="" class="navbar__link navbar__link--dropdown" target="_self">Docentes</a>
                    <ul class="custom-dropdown-menu">
                        <li><a href="https://virtual.mesoamericana.edu.gt/" class="navbar__link-dropdown" target="_blank">Aula Virtual</a></li>
                        <li><a href="https://secretaria.mesoamericana.edu.gt/catedraticos/Account/Login.aspx?ReturnUrl=%2fcatedraticos%2f" class="navbar__link-dropdown" target="_blank">Sitio de Docentes</a></li>
                        <li><a href="https://accounts.google.com/ServiceLogin/webreauth?continue=https%3A%2F%2Fmail.google.com%2Fa%2Fmesoamericana.edu.gt%2F&ltmpl=default&hd=mesoamericana.edu.gt&service=mail&sacu=1&passive=1209600&authuser=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin" class="navbar__link-dropdown" target="_blank">Correo Institucional</a></li>
                        <li><a href="https://virtual.mesoamericana.edu.gt/course/view.php?id=5694" class="navbar__link-dropdown" target="_self">Técnicas de Estudio</a></li>
                        <li><a href="" class="navbar__link-dropdown" target="_self">Revista Explora</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="./Contactos.html" class="navbar__link" target="_self">Contáctanos</a>
                </li>
                <li class="nav-item">
                    <button id="nav-item__search-button" class="nav-item__search-button"></button>
                </li>
            </ul>
        </nav>
        <form class="form-search" id="form-search" >
            <div class="form-search-container">
                <input class="form-search__input" placeholder="Search" type="text">
                <button id="form-search__button-close" class="form-search__button-close" type="button"></button>
            </div>
        </form>
    </header>
    <main>
        <div class="hero-container hero-container--home">
            <section class="hero hero--home">
                <div class="hero__left-home">
                    <div class="hero__left-item">
                        <figure class="left-home__image-container">
                            <img class="left-home__image" src="../../assets/images/Logo-Meso-Color_medio.png" alt="Isotipo de universidad mesoamericana">
                        </figure>
                        <h1 class="hero__left-title">universidad mesoamericana</h1>
                        <p class="hero__left-text">Universidad Mesoamericana, Sede Quetzaltenango será apreciada como un Centro de Educación Superior consolidado, abierto y flexible.</p>
                        <h5 class="hero__left-subtitle">sede quetzaltenango</h5>
                        <a href="" class="hero__left-link">nuestras carreras</a>
                    </div>
                </div>
            </section>
        </div>
        <div class="form-info">
            <div class="first-info">
                <p class="text-soli">¡Solicitar Informacion!</p>
            </div>
            <div class="second-info">
                <input type="text" class="text2" placeholder="      Correo Electrónico">
            </div>
            <div class="thirth-info">
                <input type="text" class="text1" placeholder="      Nombre">
            </div>
            <div class="fourth-info">
                <textarea class="text3" name="" id="" cols="30" rows="10" placeholder="     ¿Qué carrera te interesa?"></textarea>
            </div>
            <div class="fifth-info">
                <button class="send-button">Enviar</button>
            </div>
        </div>
        <div class="gallery-container">
            <div class="paralax-items">
                <h1 class="title-parallax">CONOCE NUESTRO CAMPUS</h1>
                <h1 class="text-parallax"><a class="text-parallax" href="https://www.mesoamericana.edu.gt/galeria-meso-2021/">Galería</a></h1>
                <h1 class="text-parallax"> <a class="text-parallax" href="https://www.mesoamericana.edu.gt/tour/">Tour Virtual <b class="bold-number">360°</b></a></h1>
                <h1 class="text-parallax"><a class="text-parallax" href="https://www.youtube.com/user/Mesoamericanaxela">Videos</a></h1>
            </div>
        </div>
        <div class="title-who">
            <h3>¿Qué es Universidad Mesoamericana?</h3>
        </div>

        <div class="title-who">
            <h3>Reglamentos y Estatutos</h3>
        </div>
        <div>
            <div class="first-column-reglas">
                <div class="first-image-reglas">
                    <h6 class="tittle-reglas"> <center>REGLAMENTO GENERAL</center></h6>
                    <a href="../../ASSETS/Docs/Caledarios/PDF/REGLAMENTOS.pdf" target="_blank"><img id="first-image-reglas" src="../../ASSETS/Docs/Caledarios/Images/Reglamento-General.png" alt=""></a>
                </div>
                <div class="second-image-reglas">
                    <h6 class="tittle-reglas"><center>ESTATUTOS</center></h6>
                    <a href="../../ASSETS/Docs/Caledarios/PDF/Estatutos.pdf" target="_blank"><img id="second-image-reglas" src="../../ASSETS/Docs/Caledarios/Images/Estatutos.png" alt=""></a>
                </div>
                <div class="thirth-image-reglas">
                    <h6 class="tittle-reglas"><center>REGLAMENTO ACADÉMICO</center></h6>
                    <a href="https://issuu.com/mesoamericana/docs/reglamento_acad_mico_2019" target="_blank"><img id="second-image-reglas" src="../../ASSETS/Docs/Caledarios/Images/Reglamento-Academico.png" alt=""></a>
                </div>
            </div>
        </div>
        <div class="back-explora">
            <div class="title-explora">
                <br>
                <h4>REVISTA EXPLORA</h4>
            </div>
            <div class="text-explora">
                <p class="para-explora">Este es un espacio para la divulgación de investigaciones científicas, ensayos y artículos de nuestros docentes promovido por el Señor <br> Rector Dr. Félix Javier Serrano Ursúa. Y deseamos sea pionero en el campo de las publicaciones académicas de nuestro querido <br> departamento.</p>
            </div>
            <div id="carouselExampleCrossfade" class="carousel slide carousel-fade" data-mdb-ride="carousel">
                <div class="carousel-indicators">
                  <button
                    type="button"
                    data-mdb-target="#carouselExampleCrossfade"
                    data-mdb-slide-to="0"
                    class="active"
                    aria-current="true"
                    aria-label="Slide 1"
                  ></button>
                  <button
                    type="button"
                    data-mdb-target="#carouselExampleCrossfade"
                    data-mdb-slide-to="1"
                    aria-label="Slide 2"
                  ></button>
                  <button
                    type="button"
                    data-mdb-target="#carouselExampleCrossfade"
                    data-mdb-slide-to="2"
                    aria-label="Slide 3"
                  ></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp" class="d-block w-100" alt="Wild Landscape"/>
                  </div>
                  <div class="carousel-item">
                    <img src="https://mdbcdn.b-cdn.net/img/new/slides/042.webp" class="d-block w-100" alt="Camera"/>
                  </div>
                  <div class="carousel-item">
                    <img src="https://mdbcdn.b-cdn.net/img/new/slides/043.webp" class="d-block w-100" alt="Exotic Fruits"/>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleCrossfade" data-mdb-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleCrossfade" data-mdb-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
    </main>
    <footer>
        <div class="copyright-umes">
            <p class="para-text-umes">
                <span class="span-umes">
                    <strong>© 2020 Universidad Mesoamericana</strong>
                </span>
            </p>
        </div>
        <div class="footer-link" style="color:#666 ;">
            <a class="word-footer" href="https://www.turnkeylinux.org/wordpress">WordPress Appliance</a>
            - Powered by
            <a class="word-footer" href="https://www.turnkeylinux.org">TurnKey Linux</a>
        </div>
    </footer>
</body>
</html>