<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="//db.onlinewebfonts.com/c/9d25ea5c587d0f9d470aa9a3634735ea?family=ETmodules" rel="stylesheet" type="text/css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/CSS/Style.css">
    <title>Universidad Mesoamericana</title>
</head>
<body>
    <header class="header">
        <input type="checkbox" name="" class="btn"/>
        <nav class="nav">
            <ul class="navbar-items-container">
                <li class="nav-item">
                    <a href="" class="navbar__link" target="_blank">Inicio</a></li>
                <li class="nav-item">
                    <a href="" class="navbar__link" target="_self">Noticias</a></li>
                <li class="nav-item">
                    <a href="" class="navbar__link navbar__link--dropdown" target="_self">Organización</a>
                    <ul class="dropdown-menu">
                        <li><a href="" class="navbar__link-dropdown" target="_blank">Historia</a></li>
                        <li><a href="" class="navbar__link-dropdown" target="_blank">Ideario</a></li>
                        <li><a href="" class="navbar__link-dropdown" target="_blank">Visión y Misión</a></li>
                        <li><a href="" class="navbar__link-dropdown" target="_blank">Estatutos y Reglamentos</a></li>
                        <li><a href="" class="navbar__link-dropdown" target="_blank">Autoridades</a></li>
                        <li><a href="" class="navbar__link-dropdown" target="_blank">Alianza Microsoft</a></li>
                        <li><a href="" class="navbar__link-dropdown" target="_blank">Descargas</a></li>
                        <li><a href="" class="navbar__link-dropdown" target="_blank">Pastoral</a></li>
                        <li><a href="" class="navbar__link-dropdown" target="_blank">Himno de la Universidad</a></li>
                        <li><a href="" class="navbar__link-dropdown" target="_blank">Tour Virtual</a></li>
                        <li><a href="" class="navbar__link-dropdown" target="_blank">Becas</a></li>
                        <li><a href="" class="navbar__link-dropdown" target="_blank">Galería Meso</a></li>
                        <li><a href="" class="navbar__link-dropdown" target="_blank">Bolsa de Empleo</a></li>
                        <li><a href="" class="navbar__link-dropdown" target="_blank">Sede Central</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="" class="navbar__link navbar__link--dropdown" target="_self">Académico</a>
                    <ul class="dropdown-menu">
                        <li><a href="" class="navbar__link-dropdown" target="_blank">Carreras</a></li>
                        <li><a href="" class="navbar__link-dropdown" target="_blank">Requisitos de Admisión</a></li>
                        <li><a href="https://secretaria.mesoamericana.edu.gt/horarios/" class="navbar__link-dropdown" target="_blank">Horarios de clases</a></li>
                        <li><a href="" class="navbar__link-dropdown" target="_blank">Calendario Acádemico 2022</a></li>
                        <li><a href="" class="navbar__link-dropdown" target="_blank">Pasos de Inscripción</a></li>
                        <li><a href="" class="navbar__link-dropdown" target="_blank">Registro Acádemico</a></li>
                        <li><a href="" class="navbar__link-dropdown" target="_blank">Revista Explora</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="" class="navbar__link navbar__link--dropdown" target="_self">Admisiones</a>
                    <ul class="dropdown-menu">
                        <li><a href="" class="navbar__link-dropdown" target="_blank">Éxamenes de Admisión</a></li>
                        <li><a href="" class="navbar__link-dropdown" target="_blank">Entrevista, Facultad de Ingeniería</a></li>
                        <li><a href="" class="navbar__link-dropdown" target="_blank">Entrevista, Facultad de Arquitectura</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="" class="navbar__link navbar__link--dropdown" target="_self">Estudiantes</a>
                    <ul class="dropdown-menu">
                        <li><a href="" class="navbar__link-dropdown" target="_blank">Aula Virtual</a></li>
                        <li><a href="" class="navbar__link-dropdown" target="_blank">Sitio de Estudiantes</a></li>
                        <li><a href="" class="navbar__link-dropdown" target="_blank">Correo Institucional</a></li>
                        <li><a href="" class="navbar__link-dropdown" target="_blank">Técnicas de Estudio</a></li>
                        <li><a href="" class="navbar__link-dropdown" target="_blank">Revista Explora</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="" class="navbar__link navbar__link--dropdown" target="_self">Docentes</a>
                    <ul class="dropdown-menu">
                        <li><a href="" class="navbar__link-dropdown" target="_blank">Aula Virtual</a></li>
                        <li><a href="" class="navbar__link-dropdown" target="_blank">Sitio de Docentes</a></li>
                        <li><a href="" class="navbar__link-dropdown" target="_blank">Correo Institucional</a></li>
                        <li><a href="" class="navbar__link-dropdown" target="_blank">Técnicas de Estudio</a></li>
                        <li><a href="" class="navbar__link-dropdown" target="_blank">Revista Explora</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="" class="navbar__link" target="_self">Contáctanos</a>
                </li>
                <li class="nav-item">
                    <button></button>
                </li>
            </ul>
        </nav>
    </header>
</body>
</html>